*{
margin: 0;
padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,1));
}

#nm{
    position: absolute;
    top: 3%;
    color: white;
    font-size: 3rem;
    text-decoration: underline;
    
}

.maindiv{
    display:flex;width: 100%;
    justify-content: center;
}

.clbtns{
    height:25vh; width:25vh;text-align: center;
    margin-top: 2%;
    margin-right: 5%;
}
.clbtns:last-child{
    margin-right: 0;
}

#rock{
    background-image: url(th.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    border-radius: 50%;
    border: 8px solid black;
}
#paper{
 
    background-image: url(OIP.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    border-radius: 50%;
    border: 8px solid black;
    
}
#scissor{
    background-color: white;
    background-image: url(OIP\ \(1\).jpg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 8px solid black;
}

#cleardiv{
    width: 100%;display: flex;flex-direction: column; justify-content: center;align-items: center;margin-top: 5vh;
}
h2{
    color: white;
    text-align: center;
    height: 4vh;
}

#remove{
    margin-top: 5vh;
    width: 10vw;
    height: 5vh;
    font-size: 1.3rem;
    
}
