*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color:#001e4d;
    display:flex;
    justify-content: center;
    align-items: flex-start;

}

.main{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin-top: 100px;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h2{
    padding-bottom: 2%;
    width: 90%;
    color: #001e4d;
}

hr{
    width: 90%;
    border:1px solid black;
    box-shadow: 2px 1px 10px black;
}

.quiz{
    width: 90%;
}

#ques{
    width: 100%;
    padding-top: 3%;
    margin-bottom: 1%;
    color: #001e4d;
    text-wrap: wrap;

}

.answerbtn button{
    width: 100%;
    padding: 1.4%;
    font-size: 110%;
    margin: 2% 0 2%;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 1px black;
    text-align: left;
}


@media only screen and (max-width:800px) {
    button:hover{
        background-color: rgb(62, 75, 62);
        color: white;
    }
}


#next-btn{
    color: white;
    padding: 1.5% 10% 1.5%;
    margin:2%;
    background-color: #001e4d;
    font-weight: 500;
    border-radius: 5px;
    display: none;

   
}


.category{
    width: 50%;
    display: flex;
    flex-direction: column;
  padding: 5%;
  background: rgba(117, 91, 91, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
    z-index: 2;
    display: flex;
    border-radius: 10px;
}

.sss{
    position: absolute;
    top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    
    background: rgba(232, 232, 232, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.category select , .category button{
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
}

.category h2{
    text-align: center;
}

.category button{
    border: none;
    background-color: green;
    color: white;
    width: 25%;
    margin-left: 37%;
}

.correct {
    background:rgba(0, 128, 0, 0.556);
}

.incorrect{
    background: rgba(255, 0, 0, 0.533);
}

.timer{
    position: absolute;
    right: 3%;
    top: 3%;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}